header h1{
    color: darkcyan;
    text-align: center;
}

.one{
    background-color: darkkhaki;
}

.two {
    background-color: bisque;
        }

.three{
    background-color: aquamarine;
}